@model IEnumerable<spGet_SeasonList_Result>
@{
    ViewBag.Title = "STH Split";
}
@section scripts {
    <style type="text/css">
        .dataTables_filter {
            display: none;
        }
    </style>
    <script type="text/javascript">
        var TicketGroup_ID = 0;
        var PurchaseOrder_ID = 0;
        var State = "";

        var TotalCost = 0;
        var SeatCount = 0;

        var FaceSuggest = true;
        var CostSuggest = true;
        var PriceSuggest = true;

        var CurCost = 0; // needed to capture event and cost on enter

        var HistoryTable;
        var SeasonTable;
        var HistoryLoad = 0;

        function fn_ClearSearch() {
            $("#SearchBox4").val('');
            $("#ClearSearch4").hide();
            SeasonTable.search('').draw();
            $("#SearchBox4").focus();
        }
        function doDelayedSearch(e) {
            var searchlen = $("#SearchBox4").val().length;
            if (searchlen > 0)
                $("#ClearSearch4").show();
            else
                $("#ClearSearch4").hide();
        }
        function fn_SelectPO(PO) {
            var w = 860;
            var h = 900;
            var URL = "../Purchase/GetPO?PO_ID=" + PO;
            popupWindow(URL, "PO", w, h);
        }
        function fn_Split() {
            var GoodFace = true;
            if (State == "TX") {
                $('.CheckBox').each(function () {
                    var id = this.id;
                    if ($("#" + id).prop('checked')) {
                        var ID = id.split("_");
                        var FaceValue = $("#Face_" + ID[1]).val().replace("$", "").replace(",", "");
                        if (parseFloat(FaceValue) <= 0) {
                            $("#Face_" + ID[1]).focus();
                            $("#Face_" + ID[1]).select();
                            GoodFace = false;
                            return false;
                        }
                    }
                });
            }
            if (GoodFace == false) {
                alert("Becuase this is a Texas event you must have a valid face on each selected event.");
            } else {
                var Data = "";
                $('.CheckBox').each(function () {
                    var id = this.id;
                    if ($("#" + id).prop('checked')) {
                        var ID = id.split("_");
                        Data += '~' + $("#Hidden_" + ID[1]).val() + '|' + $("#Face_" + ID[1]).val().replace("$", "").replace(",", "") + '|' + $("#Cost_" + ID[1]).val().replace("$", "").replace(",", "") + '|' + $("#Price_" + ID[1]).val().replace("$", "").replace(",", "");
                    }
                });
                $.ajax({
                    url: "SplitListing?Listing_ID=" + TicketGroup_ID,
                    type: 'POST',
                    data: {
                        SplitString: Data
                    },
                    cache: false,
                    aysnc: false,
                    success: function (response) {
                        alert(response);
                        if (response == "Success")
                            location.reload();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Error splitting item: ' + thrownError);
                    }
                });
            }
        }
        function fn_Reload() {
            FaceSuggest = true;
            CostSuggest = true;
            PriceSuggest = true;
            $("#ResetButton").hide();
            fn_SelectItem(TicketGroup_ID, PurchaseOrder_ID);
        }
        function fn_TotalItems() {
            var CalcCost = 0;
            var CalcPrice = 0;
            var RecordCount = 0;
            $(".CheckBox").each(function() {
                if(this.checked)
                {
                    RecordCount += 1;
                    var Listing = this.id.replace("Check", "");
                    CalcCost += $("#Cost" + Listing).val().replace("$", "").replace(",", "") * SeatCount;
                    CalcPrice += $("#Price" + Listing).val().replace("$", "").replace(",", "") * SeatCount;
                }
            });
        
            var diff = parseFloat(TotalCost) - parseFloat(CalcCost);
            if (formatCurrency4(diff / SeatCount).replace('-', '') != '$0.0000') {
                var message = '';
                if (diff > 0)
                    message = 'You need +' + formatCurrency4(diff / SeatCount) + ' on any one item to blance.';
                else
                    message = 'You need -' + formatCurrency4(diff / SeatCount) + ' on any one item to blance.';
                $("#Message").text(message);
                var footcost = "<a style=\"color:red\" href=\"#\" title=\"Total MUST EQUAL " + formatCurrency4(TotalCost) + "\">" + formatCurrency4(CalcCost) + "</a>"
                $("#SplitButton").prop('disabled', true);
            }
            else {
                $("#Message").text('');
                var footcost = "<a style=\"color:white\" href=\"#\" title=\"\">" + formatCurrency4(CalcCost) + "</a>"
                var footprice = "<a style=\"color:white\" href=\"#\" title=\"\">" + formatCurrency(CalcPrice) + "</a>"
                $("#SplitButton").prop('disabled', false);
            }
            $("#FootCount").text(RecordCount + " Items Selected");
            $("#FootQty").text(RecordCount * SeatCount);
            $("#FootPrice").html(footprice);
            $("#FootCost").html(footcost);
            $("#myPleaseWait").modal('hide');
        }
        function fn_ClickEvent(Event_ID, Exchange_ID) {
            $("#myPleaseWait").modal('show');
            setTimeout(function () {
                var URL = "/Season/UpdateExclusion?Event_ID=" + Event_ID + "&Exchange_ID=" + Exchange_ID; 
                $.ajax({
                    type: 'GET',
                    async: false,
                    url: URL,
                    success: function (response) {
                         fn_SelectItem(TicketGroup_ID, PurchaseOrder_ID);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Update Exclusions error: ' + thrownError);
                        $("#myPleaseWait").modal('hide');
                    }
                });
            }, 50)
        }
        function fn_AdjustFace(Event_ID, Next_ID) {
            var NewFace = formatCurrency($("#Face_" + Event_ID).val().replace("$", "").replace(",", ""));
            if (FaceSuggest == true) {
                FaceSuggest = false;
                var r = confirm("Would you like to adjust all face values to " + NewFace);
                if (r == true)
                    $(".CheckBox").each(function() {
                        if(this.checked)
                        {
                            var Listing = this.id.replace("Check", "Face");
                            $("#"+Listing).val(NewFace);                                
                        }
                    });
                else
                    $("#Face_" + Event_ID).val(NewFace);
            }
            else
                $("#Face_" + Event_ID).val(NewFace);
            $("#Face_" + Next_ID).focus();
            $("#Face_" + Next_ID).select();
            $("#ResetButton").show();
        }
        function fn_AdjustCost(Event_ID, Next_ID) {

            var NumOfSeats = 0;
            var ChangeAmt = CurCost * SeatCount;
            var NewCost = $("#Cost_" + Event_ID).val().replace("$", "").replace(",", "");
            var NewCost2;
            if (NewCost == 0)
                NewCost2 = "$0.00";
            else
                NewCost2 = formatCurrency4(NewCost);
            
            setTimeout(function () {
                $("#Cost_" + Event_ID).val(NewCost2);
            }, 50)
            
            if (NewCost == 0) {
                var r = confirm("Do you want to distribute " + formatCurrency4(ChangeAmt) + " across the remaining items?");
                if (r == true) {
                    var FinalItem = "";
                    $('.SplitCost').each(function () {
                        if (parseFloat($(this).val().replace("$", "").replace(",", "")) > 0) {
                            NumOfSeats += SeatCount;
                            FinalItem = this.id;
                        }
                    });
                    var NewCost = parseFloat(TotalCost) / parseInt(NumOfSeats);
                    var applied = 0;
                    
                    $('.SplitCost').each(function () {
                        if (parseFloat($(this).val().replace("$", "").replace(",", "")) > 0 && this.id != FinalItem) {
                            $("#" + this.id).val(formatCurrency4(NewCost));
                            applied += NewCost;
                        }
                    });
                    var FinalAmt = parseFloat(TotalCost) - parseFloat(applied); 
                    $("#" + FinalItem).val(formatCurrency4(FinalAmt));
                }
            }
            fn_TotalItems();
            $("#ResetButton").show();
            //CurCost = $("#Cost_" + Next_ID).val().replace("$", "").replace(",", "");
            $("#Cost_" + Next_ID).focus();
            $("#Cost_" + Next_ID).select();
        }
        function fn_AdjustPrice(Event_ID, Next_ID) {
            var NewPrice = formatCurrency($("#Price_" + Event_ID).val().replace("$", "").replace(",", ""));
            if (PriceSuggest == true) {
                PriceSuggest = false;
                var r = confirm("Would you like to adjust all Price to " + NewPrice);
                if (r == true)
                    $(".CheckBox").each(function() {
                        if(this.checked)
                        {
                            var Listing = this.id.replace("Check", "Price");
                            $("#"+Listing).val(NewPrice);                                
                        }
                    });
                else
                    $("#Price_" + Event_ID).val(NewPrice);
            }
            else
                $("#Price_" + Event_ID).val(NewPrice);
            $("#Price_" + Next_ID).focus();
            $("#Price_" + Next_ID).select();
            fn_TotalItems();
            $("#ResetButton").show();
        }
        function fn_CostClick(Event_ID) {
            CurCost = $("#Cost_" + Event_ID).val().replace("$", "").replace(",", "");
            $("#Cost_" + Event_ID).select();
        }
        function fn_ChangeShowAll(){
            fn_SelectItem(TicketGroup_ID, PurchaseOrder_ID);
        }
        function fn_SelectItem(tg_id, po_id) {
            $("#myPleaseWait").modal('show');
            setTimeout(function () {
                TicketGroup_ID = tg_id;
                PurchaseOrder_ID = po_id;
                State = "";

                var HiddenCount = -1;
                var FaceSuggest = true;
                var CostSuggest = true;
                var PriceSuggest = true;
                var RecordCount = 0;
                var RecordCount2 = 0;
                var ShowAll = $("#ShowAll").prop('checked');
                $.ajax({
                    async: false,
                    url: "/Season/JsonConvertItem?tg_id=" + tg_id + "&ShowAll=" + ShowAll,
                    datatype: JSON,
                    success: function (response) {
                        if (response.length > 10) {
                            TotalCost = response[0].TotalCost;
                            SeatCount = response[0].Qty;

                            RecordCount = response.length;
                            if (ShowAll)
                                RecordCount2 = parseInt(RecordCount) - parseInt(response[0].HiddenCount);
                            else
                                RecordCount2 = RecordCount;

                            var ItemCost = TotalCost / SeatCount / RecordCount2;

                            var loopcount = 0;
                            $("#SplitTable > TBODY").empty();
                            jQuery.each(response, function (index, item) {
                                if (State == "")
                                    State = item.State;

                                if (HiddenCount < 0)
                                    HiddenCount = item.HiddenCount;

                                loopcount += 1;

                                if (item.Hidden == 1)
                                    $("#SplitTable > TBODY").append("<tr><td><input class=\"CheckBox\" id=\"Check_" + item.ID + "\" type=\"CheckBox\" onclick=\"fn_ClickEvent(" + item.event_id + "," + item.exchange_id + ");\"></td><td style=\"text-align:left;\">" + item.event_name + "</td><td style=\"text-align:left;\">" + item.Event_Date + "</td><td>" + item.Venue + "</td><td>" + item.Section + "</td><td>" + item.Row + "</td><td>" + item.Seats + "</td><td style=\"text-align:right\" >" + item.Qty + "</td><td><input id=\"Face_" + item.ID + "\"class=\"SplitFace\" style=\"width:60px; text-align:right\" onclick=\"this.select();\" onchange=\"fn_AdjustFace(" + item.ID + "," + item.NextValue + ");\" disabled=\"disabled\" /></td><td><input id=\"Cost_" + item.ID + "\" class=\"SplitCost\" style=\"width:60px; text-align:right;\" onclick=\"fn_CostClick(" + item.ID + ");\" onchange=\"fn_AdjustCost(" + item.ID + "," + item.NextValue + ");\" disabled=\"disabled\" /></td><td><input id=\"Price_" + item.ID + "\"class=\"SplitPrice\" style=\"width:60px; text-align:right\" onclick=\"this.select();\" onchange=\"fn_AdjustPrice(" + item.ID + "," + item.NextValue + ");\"  disabled=\"disabled\" /></td></tr>");
                                else
                                    $("#SplitTable > TBODY").append("<tr><td><input class=\"CheckBox\" id=\"Check_" + item.ID + "\" type=\"CheckBox\" Checked=\"Checked\" onclick=\"fn_ClickEvent(" + item.event_id + "," + item.exchange_id + ");\"><input type=\"hidden\" id=\"Hidden_" + item.ID + "\" value=\"" + item.event_id + "|" + item.exchange_id + "\"></td><td style=\"text-align:left;\">" + item.event_name + "</td><td style=\"text-align:left;\">" + item.Event_Date + "</td><td>" + item.Venue + "</td><td>" + item.Section + "</td><td>" + item.Row + "</td><td>" + item.Seats + "</td><td style=\"text-align:right\" >" + item.Qty + "</td><td><input id=\"Face_" + item.ID + "\"class=\"SplitFace\" style=\"width:60px; text-align:right\" onclick=\"this.select();\" onchange=\"fn_AdjustFace(" + item.ID + "," + item.NextValue + ");\" value=\"$0.00\" /></td><td><input id=\"Cost_" + item.ID + "\" class=\"SplitCost\" style=\"width:60px; text-align:right;\" onclick=\"fn_CostClick(" + item.ID + ");\" onchange=\"fn_AdjustCost(" + item.ID + "," + item.NextValue + ");\" value=\"" + formatCurrency4((ItemCost)) + "\"/></td><td><input id=\"Price_" + item.ID + "\"class=\"SplitPrice\" style=\"width:60px; text-align:right\" onclick=\"this.select();\" onchange=\"fn_AdjustPrice(" + item.ID + "," + item.NextValue + ");\"  value=\"$0.00\" /></td></tr>");
                            });
                            $("#SplitDiv").modal("show");

                            if (HiddenCount > 0)
                                $("#ShowAllDiv").css('display', 'block');

                            $("#SplitTitle").text("Split item for PO#" + po_id);
                            fn_TotalItems();
                        } else {
                            alert("No Events Found.");
                            $("#myPleaseWait").modal('hide');
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('JsonConvertItem error: ' + thrownError);
                        $("#myPleaseWait").modal('hide');
                    }
                });
            }, 50)
        }
        function fn_PendingLoad() {
            $('#myPleaseWait').modal('show');
            var URL = "PendingSeason";
            $.ajax({
                type: 'GET',
                cache: false,
                aysnc: false,
                url: URL,
                success: function (result) {
                    SeasonTable.destroy();
                    var RecCount = 0;
                    var RecQty = 0;
                    var RecCost = 0.00;
                    jQuery.each(result, function (index, item) {
                        var NewRec = "<tr class=\"TableTr\">";
                        NewRec += "<td style=\"align-content:center;\"><i class=\"material-icons\" onclick=\"fn_SelectItem(" + item.ticket_group_id + ", " + item.purchase_order_id + ");\">call_split</i></td>";
                        NewRec += "<td style=\"text-align:center;\"><a href=\"#\" onclick=\"fn_SelectPO(" + item.purchase_order_id + ");\">" + item.purchase_order_id + "</a></td>";
                        NewRec += "<td style=\"text-align:center;\">" + item.create_date + "</td>";
                        NewRec += "<td>" + item.client_broker_company_name + "</td>";
                        NewRec += "<td>" + item.event_name + "</td>";
                        NewRec += "<td style=\"text-align:center;\">" + item.event_datetime + "</td>";
                        NewRec += "<td style=\"text-align:center;\">" + item.section + "</td>";
                        NewRec += "<td style=\"text-align:center;\">" + item.row + "</td>";
                        NewRec += "<td style=\"text-align:center;\">" + item.Seats + "</td>";
                        NewRec += "<td style=\"text-align:center\">" + item.Qty + "</td>";
                        NewRec += "<td style=\"text-align:right;\">" + formatCurrency4(item.TotalCost); + "</td>";
                        NewRec += "<td style=\"text-align:center;\">" + item.system_user_username + "</td>";
                        NewRec += "<td>" + item.create_date_sort + "</td>";
                        NewRec += "<td>" + item.event_datetime_sort + "</td></tr >";

                        $("#SeasonTable > tbody").append(NewRec);
                        RecCount += 1;
                        RecQty += item.Qty;
                        RecCost += item.TotalCost;
                    });
                    $("#sItemCount").text(RecCount + " Records");
                    $("#sTotalQty").text(RecQty);
                    $("#sTotalCost").text(formatCurrency4(RecCost));
                    $("#SeasonTableDiv").show();
                    SeasonTable = $('#SeasonTable').DataTable({
                        "destroy": true,
                        "ordering": true,
                        "scrollY": '65vh',
                        "scrollX": false,
                        "scrollCollapse": true,
                        "paging": false,
                        "searching": true,
                        "info": false,
                        "aoColumnDefs": [
                            { targets: [0], orderable: false },
                            { targets: [12, 13], visible: false },
                            { iDataSort: 12, targets: [2] },
                            { iDataSort: 13, targets: [5] }
                        ],
                        "order": [[1, "asc"]]
                    });
                    $('#myPleaseWait').modal('hide');
                    setTimeout(function () {
                        SeasonTable.columns.adjust().draw();
                        $("#SearchBox4").focus();
                    }, 500)
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#myPleaseWait').modal('hide');
                    alert("Error: Getting Season List /" + thrownError);
                }
            });
        }
        function fn_ChangeDisplay()
        {
            var selValue = $('input[name=display]:checked').val(); 
            if (selValue == 1)
            {
                $('#myPleaseWait').modal('show');
                $("#SeasonTableDiv").hide();
                if (HistoryLoad == 0) {
                    var URL = "PastSeason";
                    $.ajax({
                        type: 'GET',
                        cache: false,
                        aysnc: false,
                        url: URL,
                        success: function (result) {
                            HistoryTable.destroy();
                            var RecCount = 0;
                            var RecQty = 0;
                            var RecCost = 0.00;
                            jQuery.each(result, function (index, item) {
                                var NewRec = "<tr class=\"TableTr\">";
                                NewRec += "<td style=\"text-align:center;\"><a href=\"#\" onclick=\"fn_OpenPO(" + item.purchase_order_id + ");\">" + item.purchase_order_id + "</a></td>";
                                NewRec += "<td>" + item.create_date; + "</td>";
                                NewRec += "<td>" + item.event_name + "</td>";
                                NewRec += "<td style=\"text-align:center;\">" + item.section + "</td>";
                                NewRec += "<td style=\"text-align:center;\">" + item.row + "</td>";
                                NewRec += "<td style=\"text-align:center;\">" + item.Seats + "</td>";
                                NewRec += "<td style=\"text-align:center\">" + item.qty + "</td>";
                                NewRec += "<td style=\"text-align:right;\">" + formatCurrency(item.Cost); + "</td>";
                                NewRec += "<td style=\"text-align:center;\">" + item.Split + "</td>";
                                NewRec += "<td style=\"text-align:center;\">" + item.Agent + "</td>";
                                NewRec += "<td style=\"text-align:center\">" + item.Events + "</td>";
                                NewRec += "<td style=\"text-align:center\">" + item.Tickets + "</td>";
                                NewRec += "<td>" + item.create_date_sort + "</td>";
                                NewRec += "<td>" + item.Split_Sort + "</td></tr > "
                                $("#HistoryTable > tbody").append(NewRec);
                                RecCount += 1;
                                RecQty += item.qty;
                                RecCost += item.Cost;
                            });
                            $("#PastSeasonDiv").show();

                            $("#SplitCount").text(RecCount);
                            $("#SplitQty").text(RecQty);
                            $("#SplitCost").text(formatCurrency(RecCost));

                            HistoryTable = $("#HistoryTable").DataTable({
                                "destroy": true,
                                "ordering": true,
                                "scrollY": '65vh',
                                "scrollCollapse": true,
                                "paging": false,
                                "searching": true,
                                "info": false,
                                "autowidth": true,
                                "aoColumnDefs": [
                                    { targets: [12, 13], visible: false },
                                    { iDataSort: 12, targets: [1] },
                                    { iDataSort: 13, targets: [8] }
                                ],
                            })
                            $('#myPleaseWait').modal('hide');
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            $('#myPleaseWait').modal('hide');
                            alert("Error: Getting Past Season List /" + thrownError);
                        }
                    });
                    HistoryLoad = 1;
                } else {
                    $("#PastSeasonDiv").show();
                    $('#myPleaseWait').modal('hide');
                }
            } else {
                $("#PastSeasonDiv").hide();
                $("#SeasonTableDiv").show();
            }
        }
        function fn_OpenPO(po_id) {
            if (parseInt(po_id) > 0)
            {
                var w = 860;
                var h = 900;
                var URL = "../Purchase/GetPO?PO_ID=" + po_id;
                popupWindow(URL, "PO", w, h);
            } else
                alert(po_id + " Not Found!");
        }
        $(document).ready(function () {
            $("input[name=display]:radio").change(function () {
                fn_ChangeDisplay();
            });
            $(".NavBar").css("background-color", "");
            $("#SE").css("background-color", "#353535");
            if ($(window).width() > 1135) {
                $("#IconBar2").show();
                $("#wrapper").toggleClass("toggled");
            } else
                $("#IconBar").show();
            $("#SearchWrapper4").show();
            $("#LoginWrapper").show();

            SeasonTable = $('#SeasonTable').DataTable({
                "destroy": true,
                "ordering": true,
                "scrollY": '65vh',
                "scrollX": false,
                "scrollCollapse": true,
                "paging": false,
                "searching": true,
                "info": false,
                "columnDefs": [
                    { targets: [0], orderable: false }
                ],
                "order": [[1, "asc"]]
            });
            HistoryTable = $("#HistoryTable").DataTable({
                "destroy": true,
                "ordering": true,
                "scrollY": '65vh',
                "scrollCollapse": true,
                "paging": false,
                "searching": true,
                "info": false,
                "autowidth": true,
            })
            $('#SearchBox4').on('keyup', function () {
                SeasonTable.search(this.value).draw();
            });

            window.onresize = function () {
                SeasonTable.columns.adjust().draw();
                HistoryTable.columns.adjust().draw();
            };
            fn_PendingLoad();
        });
    </script>
}
<div id="SeasonTableDiv" style="width:100%; background-color:transparent; float:left; display:none">
    <table id="SeasonTable" class="table-condensed table-bordered" style="border-radius:4px; background-color:#ffffff; box-shadow:0 2px 8px 0 rgba(53, 53, 53, 0.08);">
        <thead>
            <tr style="height:30px;">
                <th style="text-align:left; border:none; border-bottom:solid black 1px;"></th>
                <th style="text-align:left; border:none; border-bottom:solid black 1px;">PO</th>
                <th style="text-align:left; border:none; border-bottom:solid black 1px;">Created</th>
                <th style="text-align:left; border:none; border-bottom:solid black 1px;">Company</th>
                <th style="text-align:left; border:none; border-bottom:solid black 1px;">Event</th>
                <th style="text-align:left; border:none; border-bottom:solid black 1px;">Date</th>
                <th style="text-align:left; border:none; border-bottom:solid black 1px;">Section</th>
                <th style="text-align:left; border:none; border-bottom:solid black 1px;">Row</th>
                <th style="text-align:left; border:none; border-bottom:solid black 1px;">Seats</th>
                <th style="text-align:left; border:none; border-bottom:solid black 1px;">Qty</th>
                <th style="text-align:right; border:none; border-bottom:solid black 1px;">Cost</th>
                <th style="text-align:left; border:none; border-bottom:solid black 1px;">Agent</th>
                <th>CreatedSort</th>
                <th>EventDateSort</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr style="height:30px; background-color:#1c81db;">
                <th colspan="9" style="color:white; border-radius:4px;" id="sItemCount"></th>
                <th style="text-align:right; color:white; border-radius:4px;" id="sTotalQty"></th>
                <th style="text-align:right; color:white; border-radius:4px;" id="sTotalCost"></th>
                <th style="border-radius:6px;"></th>
            </tr>
        </tfoot>
    </table>
</div>
<div id="PastSeasonDiv" style="width:100%; background-color:transparent; float:left; display:none">
    <table id="HistoryTable" class="table-condensed table-bordered" style="border-radius:4px; background-color:#ffffff; box-shadow:0 2px 8px 0 rgba(53, 53, 53, 0.08);">
        <thead>
            <tr style="height:30px;">
                <th style="text-align:left; border:none; border-bottom:solid black 1px;">PO</th>
                <th style="text-align:left; border:none; border-bottom:solid black 1px;">PO Date</th>
                <th style="text-align:left; border:none; border-bottom:solid black 1px;">Event</th>
                <th style="text-align:left; border:none; border-bottom:solid black 1px;">Section</th>
                <th style="text-align:left; border:none; border-bottom:solid black 1px;">Row</th>
                <th style="text-align:left; border:none; border-bottom:solid black 1px;">Seats</th>
                <th style="text-align:left; border:none; border-bottom:solid black 1px;">Qty</th>
                <th style="text-align:right; border:none; border-bottom:solid black 1px;">Cost</th>
                <th style="text-align:left; border:none; border-bottom:solid black 1px;">Split Date</th>
                <th style="text-align:left; border:none; border-bottom:solid black 1px;">Agent</th>
                <th style="text-align:left; border:none; border-bottom:solid black 1px;">Events</th>
                <th style="text-align:left; border:none; border-bottom:solid black 1px;">Seats</th>
                <th>CDS</th>
                <th>SS</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr style="height:30px; background-color:#1c81db;">
                <th colspan="6" style="color:white; border-radius:4px;" id="SplitCount"></th>
                <th style="text-align:right; color:white; border-radius:4px;" id="SplitQty"></th>
                <th style="text-align:right; color:white; border-radius:4px;" id="SplitCost"></th>
                <th colspan="4" style="border-radius:4px;"></th>
                <th colspan="2"></th>
            </tr>
        </tfoot>
    </table>
</div>
<!--Modal Starts-->
<div class="modal loadingModal" id="SplitDiv" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" style="margin-top:20px;">
    <div class="modal-dialog modal-lg" style="border-radius:4px;">
        <div class="modal-content modal-lg" style="border-radius:6px;">
            <div class="modal-header" style="margin:10px; height:72px; border-radius:6px; background-color:#1c81db; padding:0px;">
                <div style="float:left;">
                    <div><label id="SplitTitle" class="-Info" style="color:white; float:left;">Split item for PO$</label></div>
                    <div><label id="Message" class="-Info" style="font-size:18px; color:white; float:left;"></label></div>
                </div>
                <div style="float:right; margin:10px;">
                    <div id="ShowAllDiv" style="margin:10px; display:none; float:left;" onchange="fn_ChangeShowAll();">
                        <input id="ShowAll" type="checkbox" style="vertical-align:sub;" /><label for="ShowAll" style="color:white;"> Show All Events</label>
                    </div>
                    <button id="ResetButton" type="button" class="btn btn-default" style="display:none; margin:5px; background-color:#aec72d; color:#ffffff;" onclick="fn_Reload();">Reset</button>
                    <button id="SplitButton" type="button" class="btn btn-default" style="margin:5px; background-color:#aec72d; color:#ffffff;" onclick="fn_Split();">Split</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="margin:5px; background-color:#aec72d; color:#ffffff;">Close</button>
                </div>
            </div>
            <div class="modal-body" style="margin:-10px;">
                <div style="width:100%; text-align:center; border-radius:4px; display:block;">
                    <div style="display:inline-block; margin:auto 0; margin-top:10px; margin-bottom:10px;">
                        <table id="SplitTable" class="table-responsive table-bordered table-condensed" style="background-color:white; margin-top:-28px;" border="0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Event</th>
                                    <th>Date</th>
                                    <th>Venue</th>
                                    <th>Section</th>
                                    <th>Row</th>
                                    <th>Seats</th>
                                    <th>Qty</th>
                                    <th>Face</th>
                                    <th>Cost</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr style="height:30px; background-color:#1c81db;">
                                    <th colspan="7" id="FootCount" style="color:white; text-align:left; border-radius:4px;">0</th>
                                    <th id="FootQty" style="color:white; text-align:right; border-radius:4px;">0</th>
                                    <th></th>
                                    <th id="FootCost" style="color:white; text-align:right; border-radius:4px;"><a href="#">$0.00</a></th>
                                    <th id="FootPrice" style="color:white; text-align:right; border-radius:4px;"><a href="#">$0.00</a></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>
